
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;

    }

    body {
        width: 100%;
        height: 100vh;
    

    
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("./librarybg.webp");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        height: 90px;
    }

    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #logo-container p {
        font-size: 25px;
        font-weight: bolder;
        color: rgb(250, 249, 247);
    }

    #logo-container p::first-letter {
        color: rgb(245, 244, 243);
        font-size: 30px;
        font-family:cursive;
    }

    nav ul {
        display: flex;
        list-style: none;
        width: 420px;
        margin-left: 30px;
        margin-top: 20px;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

    nav ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #b39974;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    nav ul li:hover::after {
        width: 100%;
    }

    header>div {
        text-align: center;
        margin-top: 255px;
        color: rgb(240, 236, 229);
    }

    header>div>h1 {
        font-size: 4rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    header>div>p {
        margin-top: 20px;

    }

    header>div>button {
        margin-top: 100px;
        width: 200px;
        height: 50px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        font-weight: bold;
        cursor: pointer;
        backdrop-filter: blur(10px);
        font-size: 19px;
        letter-spacing: 1px;

    }

    header>div>button:hover {
        border: 1px solid #b39974;
        background:#b39974;
    }

    header>div>button:active {
        scale: 0.95;
    }
